<div class="todo-list-container">
  <div class="add-task-container">
    <input [(ngModel)]="newTask" placeholder="Add new task">
    <button (click)="addTask()">Add</button>
  </div>
  <div class="task-list-container">
    <ul>
      <li *ngFor="let todoItem of items; let i = index;" [ngClass]="{'completed':todoItem.completed}">
        <input 
          class="task-checkbox"
          type="checkbox"
          [(checked)] ="todoItem.completed"
          (change)="toggleCompleted(i)"
        />
        <span [class.completed]="todoItem.completed">{{todoItem.content}}</span>
        <button (click)="deleteTask(todoItem.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>